/.venv/Include/site/python3.10/greenlet/*.h
/.venv/Lib/site-packages/Flask_Migrate-4.0.7.dist-info/*.txt
/.venv/Lib/site-packages/Flask_SocketIO-5.3.7.dist-info/*.txt
/.venv/Lib/site-packages/Mako-1.3.5.dist-info/*.txt
/.venv/Lib/site-packages/MarkupSafe-2.1.5.dist-info/*.rst
/.venv/Lib/site-packages/MarkupSafe-2.1.5.dist-info/*.txt
/.venv/Lib/site-packages/MySQLdb/*.py
/.venv/Lib/site-packages/MySQLdb/__pycache__/*.pyc
/.venv/Lib/site-packages/MySQLdb/*.c
/.venv/Lib/site-packages/MySQLdb/*.pyd
/.venv/Lib/site-packages/MySQLdb/constants/*.py
/.venv/Lib/site-packages/MySQLdb/constants/__pycache__/*.pyc
/.venv/Lib/site-packages/SQLAlchemy-2.0.35.dist-info/*.txt
/.venv/Lib/site-packages/__pycache__/*.pyc
/.venv/Lib/site-packages/_distutils_hack/*.py
/.venv/Lib/site-packages/_distutils_hack/__pycache__/*.pyc
/.venv/Lib/site-packages/alembic-1.13.2.dist-info/*.txt
/.venv/Lib/site-packages/alembic/*.py
/.venv/Lib/site-packages/alembic/__pycache__/*.pyc
/.venv/Lib/site-packages/alembic/autogenerate/*.py
/.venv/Lib/site-packages/alembic/autogenerate/__pycache__/*.pyc
/.venv/Lib/site-packages/alembic/*.pyi
/.venv/Lib/site-packages/alembic/ddl/*.py
/.venv/Lib/site-packages/alembic/ddl/__pycache__/*.pyc
/.venv/Lib/site-packages/alembic/operations/*.py
/.venv/Lib/site-packages/alembic/operations/__pycache__/*.pyc
/.venv/Lib/site-packages/alembic/*.typed
/.venv/Lib/site-packages/alembic/runtime/*.py
/.venv/Lib/site-packages/alembic/runtime/__pycache__/*.pyc
/.venv/Lib/site-packages/alembic/script/*.py
/.venv/Lib/site-packages/alembic/script/__pycache__/*.pyc
/.venv/Lib/site-packages/alembic/templates/async/__pycache__/*.pyc
/.venv/Lib/site-packages/alembic/templates/async/*.mako
/.venv/Lib/site-packages/alembic/templates/async/*.py
/.venv/Lib/site-packages/alembic/templates/generic/__pycache__/*.pyc
/.venv/Lib/site-packages/alembic/templates/generic/*.mako
/.venv/Lib/site-packages/alembic/templates/generic/*.py
/.venv/Lib/site-packages/alembic/templates/multidb/__pycache__/*.pyc
/.venv/Lib/site-packages/alembic/templates/multidb/*.mako
/.venv/Lib/site-packages/alembic/templates/multidb/*.py
/.venv/Lib/site-packages/alembic/testing/*.py
/.venv/Lib/site-packages/alembic/testing/__pycache__/*.pyc
/.venv/Lib/site-packages/alembic/testing/plugin/*.py
/.venv/Lib/site-packages/alembic/testing/plugin/__pycache__/*.pyc
/.venv/Lib/site-packages/alembic/testing/suite/*.py
/.venv/Lib/site-packages/alembic/testing/suite/__pycache__/*.pyc
/.venv/Lib/site-packages/alembic/util/*.py
/.venv/Lib/site-packages/alembic/util/__pycache__/*.pyc
/.venv/Lib/site-packages/bidict-0.23.1.dist-info/*.txt
/.venv/Lib/site-packages/bidict/*.py
/.venv/Lib/site-packages/bidict/__pycache__/*.pyc
/.venv/Lib/site-packages/bidict/*.typed
/.venv/Lib/site-packages/blinker-1.8.2.dist-info/*.txt
/.venv/Lib/site-packages/blinker/*.py
/.venv/Lib/site-packages/blinker/__pycache__/*.pyc
/.venv/Lib/site-packages/blinker/*.typed
/.venv/Lib/site-packages/click-8.1.7.dist-info/*.rst
/.venv/Lib/site-packages/click-8.1.7.dist-info/*.txt
/.venv/Lib/site-packages/click/*.py
/.venv/Lib/site-packages/click/__pycache__/*.pyc
/.venv/Lib/site-packages/click/*.typed
/.venv/Lib/site-packages/colorama-0.4.6.dist-info/licenses/*.txt
/.venv/Lib/site-packages/colorama/*.py
/.venv/Lib/site-packages/colorama/__pycache__/*.pyc
/.venv/Lib/site-packages/colorama/tests/*.py
/.venv/Lib/site-packages/colorama/tests/__pycache__/*.pyc
/.venv/Lib/site-packages/*.pth
/.venv/Lib/site-packages/dns/*.py
/.venv/Lib/site-packages/dns/__pycache__/*.pyc
/.venv/Lib/site-packages/dns/dnssecalgs/*.py
/.venv/Lib/site-packages/dns/dnssecalgs/__pycache__/*.pyc
/.venv/Lib/site-packages/dns/*.typed
/.venv/Lib/site-packages/dns/quic/*.py
/.venv/Lib/site-packages/dns/quic/__pycache__/*.pyc
/.venv/Lib/site-packages/dns/rdtypes/ANY/*.py
/.venv/Lib/site-packages/dns/rdtypes/ANY/__pycache__/*.pyc
/.venv/Lib/site-packages/dns/rdtypes/CH/*.py
/.venv/Lib/site-packages/dns/rdtypes/CH/__pycache__/*.pyc
/.venv/Lib/site-packages/dns/rdtypes/IN/*.py
/.venv/Lib/site-packages/dns/rdtypes/IN/__pycache__/*.pyc
/.venv/Lib/site-packages/dns/rdtypes/*.py
/.venv/Lib/site-packages/dns/rdtypes/__pycache__/*.pyc
/.venv/Lib/site-packages/engineio/*.py
/.venv/Lib/site-packages/engineio/__pycache__/*.pyc
/.venv/Lib/site-packages/engineio/async_drivers/*.py
/.venv/Lib/site-packages/engineio/async_drivers/__pycache__/*.pyc
/.venv/Lib/site-packages/eventlet/*.py
/.venv/Lib/site-packages/eventlet/__pycache__/*.pyc
/.venv/Lib/site-packages/eventlet/green/*.py
/.venv/Lib/site-packages/eventlet/green/OpenSSL/*.py
/.venv/Lib/site-packages/eventlet/green/OpenSSL/__pycache__/*.pyc
/.venv/Lib/site-packages/eventlet/green/__pycache__/*.pyc
/.venv/Lib/site-packages/eventlet/green/http/*.py
/.venv/Lib/site-packages/eventlet/green/http/__pycache__/*.pyc
/.venv/Lib/site-packages/eventlet/green/urllib/*.py
/.venv/Lib/site-packages/eventlet/green/urllib/__pycache__/*.pyc
/.venv/Lib/site-packages/eventlet/greenio/*.py
/.venv/Lib/site-packages/eventlet/greenio/__pycache__/*.pyc
/.venv/Lib/site-packages/eventlet/hubs/*.py
/.venv/Lib/site-packages/eventlet/hubs/__pycache__/*.pyc
/.venv/Lib/site-packages/eventlet/support/*.py
/.venv/Lib/site-packages/eventlet/support/__pycache__/*.pyc
/.venv/Lib/site-packages/eventlet/zipkin/*.rst
/.venv/Lib/site-packages/eventlet/zipkin/*.py
/.venv/Lib/site-packages/eventlet/zipkin/__pycache__/*.pyc
/.venv/Lib/site-packages/eventlet/zipkin/_thrift/*.rst
/.venv/Lib/site-packages/eventlet/zipkin/_thrift/*.py
/.venv/Lib/site-packages/eventlet/zipkin/_thrift/__pycache__/*.pyc
/.venv/Lib/site-packages/eventlet/zipkin/_thrift/*.thrift
/.venv/Lib/site-packages/eventlet/zipkin/_thrift/zipkinCore/*.py
/.venv/Lib/site-packages/eventlet/zipkin/_thrift/zipkinCore/__pycache__/*.pyc
/.venv/Lib/site-packages/eventlet/zipkin/example/*.png
/.venv/Lib/site-packages/flask-3.0.3.dist-info/*.txt
/.venv/Lib/site-packages/flask/*.py
/.venv/Lib/site-packages/flask/__pycache__/*.pyc
/.venv/Lib/site-packages/flask/json/*.py
/.venv/Lib/site-packages/flask/json/__pycache__/*.pyc
/.venv/Lib/site-packages/flask/*.typed
/.venv/Lib/site-packages/flask/sansio/*.md
/.venv/Lib/site-packages/flask/sansio/__pycache__/*.pyc
/.venv/Lib/site-packages/flask/sansio/*.py
/.venv/Lib/site-packages/flask_migrate/*.py
/.venv/Lib/site-packages/flask_migrate/__pycache__/*.pyc
/.venv/Lib/site-packages/flask_migrate/templates/aioflask-multidb/__pycache__/*.pyc
/.venv/Lib/site-packages/flask_migrate/templates/aioflask-multidb/*.mako
/.venv/Lib/site-packages/flask_migrate/templates/aioflask-multidb/*.py
/.venv/Lib/site-packages/flask_migrate/templates/aioflask/__pycache__/*.pyc
/.venv/Lib/site-packages/flask_migrate/templates/aioflask/*.mako
/.venv/Lib/site-packages/flask_migrate/templates/aioflask/*.py
/.venv/Lib/site-packages/flask_migrate/templates/flask-multidb/__pycache__/*.pyc
/.venv/Lib/site-packages/flask_migrate/templates/flask-multidb/*.mako
/.venv/Lib/site-packages/flask_migrate/templates/flask-multidb/*.py
/.venv/Lib/site-packages/flask_migrate/templates/flask/__pycache__/*.pyc
/.venv/Lib/site-packages/flask_migrate/templates/flask/*.mako
/.venv/Lib/site-packages/flask_migrate/templates/flask/*.py
/.venv/Lib/site-packages/flask_socketio/*.py
/.venv/Lib/site-packages/flask_socketio/__pycache__/*.pyc
/.venv/Lib/site-packages/flask_sqlalchemy-3.1.1.dist-info/*.rst
/.venv/Lib/site-packages/flask_sqlalchemy/*.py
/.venv/Lib/site-packages/flask_sqlalchemy/__pycache__/*.pyc
/.venv/Lib/site-packages/flask_sqlalchemy/*.typed
/.venv/Lib/site-packages/greenlet-3.1.0.dist-info/*.PSF
/.venv/Lib/site-packages/greenlet-3.1.0.dist-info/*.txt
/.venv/Lib/site-packages/greenlet/*.cpp
/.venv/Lib/site-packages/greenlet/*.py
/.venv/Lib/site-packages/greenlet/__pycache__/*.pyc
/.venv/Lib/site-packages/greenlet/*.pyd
/.venv/Lib/site-packages/greenlet/*.h
/.venv/Lib/site-packages/greenlet/*.hpp
/.venv/Lib/site-packages/greenlet/platform/*.py
/.venv/Lib/site-packages/greenlet/platform/__pycache__/*.pyc
/.venv/Lib/site-packages/greenlet/platform/*.cmd
/.venv/Lib/site-packages/greenlet/platform/*.h
/.venv/Lib/site-packages/greenlet/platform/*.asm
/.venv/Lib/site-packages/greenlet/platform/*.obj
/.venv/Lib/site-packages/greenlet/tests/*.py
/.venv/Lib/site-packages/greenlet/tests/__pycache__/*.pyc
/.venv/Lib/site-packages/greenlet/tests/*.c
/.venv/Lib/site-packages/greenlet/tests/*.pyd
/.venv/Lib/site-packages/greenlet/tests/*.cpp
/.venv/Lib/site-packages/h11-0.14.0.dist-info/*.txt
/.venv/Lib/site-packages/h11/*.py
/.venv/Lib/site-packages/h11/__pycache__/*.pyc
/.venv/Lib/site-packages/h11/*.typed
/.venv/Lib/site-packages/h11/tests/*.py
/.venv/Lib/site-packages/h11/tests/__pycache__/*.pyc
/.venv/Lib/site-packages/itsdangerous-2.2.0.dist-info/*.txt
/.venv/Lib/site-packages/itsdangerous/*.py
/.venv/Lib/site-packages/itsdangerous/__pycache__/*.pyc
/.venv/Lib/site-packages/itsdangerous/*.typed
/.venv/Lib/site-packages/jinja2-3.1.4.dist-info/*.txt
/.venv/Lib/site-packages/jinja2/*.py
/.venv/Lib/site-packages/jinja2/__pycache__/*.pyc
/.venv/Lib/site-packages/jinja2/*.typed
/.venv/Lib/site-packages/mako/*.py
/.venv/Lib/site-packages/mako/__pycache__/*.pyc
/.venv/Lib/site-packages/mako/ext/*.py
/.venv/Lib/site-packages/mako/ext/__pycache__/*.pyc
/.venv/Lib/site-packages/mako/testing/*.py
/.venv/Lib/site-packages/mako/testing/__pycache__/*.pyc
/.venv/Lib/site-packages/markupsafe/*.py
/.venv/Lib/site-packages/markupsafe/__pycache__/*.pyc
/.venv/Lib/site-packages/markupsafe/*.c
/.venv/Lib/site-packages/markupsafe/*.pyd
/.venv/Lib/site-packages/markupsafe/*.pyi
/.venv/Lib/site-packages/markupsafe/*.typed
/.venv/Lib/site-packages/mysqlclient-2.2.4.dist-info/*.txt
/.venv/Lib/site-packages/pip-24.2.dist-info/*.txt
/.venv/Lib/site-packages/pip/*.py
/.venv/Lib/site-packages/pip/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_internal/*.py
/.venv/Lib/site-packages/pip/_internal/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_internal/cli/*.py
/.venv/Lib/site-packages/pip/_internal/cli/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_internal/commands/*.py
/.venv/Lib/site-packages/pip/_internal/commands/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_internal/distributions/*.py
/.venv/Lib/site-packages/pip/_internal/distributions/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_internal/index/*.py
/.venv/Lib/site-packages/pip/_internal/index/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_internal/locations/*.py
/.venv/Lib/site-packages/pip/_internal/locations/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_internal/metadata/*.py
/.venv/Lib/site-packages/pip/_internal/metadata/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_internal/metadata/importlib/*.py
/.venv/Lib/site-packages/pip/_internal/metadata/importlib/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_internal/models/*.py
/.venv/Lib/site-packages/pip/_internal/models/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_internal/network/*.py
/.venv/Lib/site-packages/pip/_internal/network/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_internal/operations/*.py
/.venv/Lib/site-packages/pip/_internal/operations/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_internal/operations/build/*.py
/.venv/Lib/site-packages/pip/_internal/operations/build/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_internal/operations/install/*.py
/.venv/Lib/site-packages/pip/_internal/operations/install/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_internal/req/*.py
/.venv/Lib/site-packages/pip/_internal/req/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_internal/resolution/*.py
/.venv/Lib/site-packages/pip/_internal/resolution/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_internal/resolution/legacy/*.py
/.venv/Lib/site-packages/pip/_internal/resolution/legacy/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_internal/resolution/resolvelib/*.py
/.venv/Lib/site-packages/pip/_internal/resolution/resolvelib/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_internal/utils/*.py
/.venv/Lib/site-packages/pip/_internal/utils/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_internal/vcs/*.py
/.venv/Lib/site-packages/pip/_internal/vcs/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/*.py
/.venv/Lib/site-packages/pip/_vendor/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/cachecontrol/*.py
/.venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/*.py
/.venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/cachecontrol/*.typed
/.venv/Lib/site-packages/pip/_vendor/certifi/*.py
/.venv/Lib/site-packages/pip/_vendor/certifi/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/certifi/*.pem
/.venv/Lib/site-packages/pip/_vendor/certifi/*.typed
/.venv/Lib/site-packages/pip/_vendor/distlib/*.py
/.venv/Lib/site-packages/pip/_vendor/distlib/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/distlib/*.exe
/.venv/Lib/site-packages/pip/_vendor/distro/*.py
/.venv/Lib/site-packages/pip/_vendor/distro/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/distro/*.typed
/.venv/Lib/site-packages/pip/_vendor/idna/*.py
/.venv/Lib/site-packages/pip/_vendor/idna/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/idna/*.typed
/.venv/Lib/site-packages/pip/_vendor/msgpack/*.py
/.venv/Lib/site-packages/pip/_vendor/msgpack/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/packaging/*.py
/.venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/packaging/*.typed
/.venv/Lib/site-packages/pip/_vendor/pkg_resources/*.py
/.venv/Lib/site-packages/pip/_vendor/pkg_resources/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/platformdirs/*.py
/.venv/Lib/site-packages/pip/_vendor/platformdirs/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/platformdirs/*.typed
/.venv/Lib/site-packages/pip/_vendor/pygments/*.py
/.venv/Lib/site-packages/pip/_vendor/pygments/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/pygments/filters/*.py
/.venv/Lib/site-packages/pip/_vendor/pygments/filters/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/pygments/formatters/*.py
/.venv/Lib/site-packages/pip/_vendor/pygments/formatters/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/pygments/lexers/*.py
/.venv/Lib/site-packages/pip/_vendor/pygments/lexers/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/pygments/styles/*.py
/.venv/Lib/site-packages/pip/_vendor/pygments/styles/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/pyproject_hooks/*.py
/.venv/Lib/site-packages/pip/_vendor/pyproject_hooks/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/pyproject_hooks/_in_process/*.py
/.venv/Lib/site-packages/pip/_vendor/pyproject_hooks/_in_process/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/requests/*.py
/.venv/Lib/site-packages/pip/_vendor/requests/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/resolvelib/*.py
/.venv/Lib/site-packages/pip/_vendor/resolvelib/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/resolvelib/compat/*.py
/.venv/Lib/site-packages/pip/_vendor/resolvelib/compat/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/resolvelib/*.typed
/.venv/Lib/site-packages/pip/_vendor/rich/*.py
/.venv/Lib/site-packages/pip/_vendor/rich/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/rich/*.typed
/.venv/Lib/site-packages/pip/_vendor/tomli/*.py
/.venv/Lib/site-packages/pip/_vendor/tomli/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/tomli/*.typed
/.venv/Lib/site-packages/pip/_vendor/truststore/*.py
/.venv/Lib/site-packages/pip/_vendor/truststore/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/truststore/*.typed
/.venv/Lib/site-packages/pip/_vendor/urllib3/*.py
/.venv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/urllib3/contrib/*.py
/.venv/Lib/site-packages/pip/_vendor/urllib3/contrib/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/urllib3/contrib/_securetransport/*.py
/.venv/Lib/site-packages/pip/_vendor/urllib3/contrib/_securetransport/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/urllib3/packages/*.py
/.venv/Lib/site-packages/pip/_vendor/urllib3/packages/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/urllib3/packages/backports/*.py
/.venv/Lib/site-packages/pip/_vendor/urllib3/packages/backports/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/urllib3/util/*.py
/.venv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/*.pyc
/.venv/Lib/site-packages/pip/_vendor/*.txt
/.venv/Lib/site-packages/pip/*.typed
/.venv/Lib/site-packages/pkg_resources/*.py
/.venv/Lib/site-packages/pkg_resources/__pycache__/*.pyc
/.venv/Lib/site-packages/pkg_resources/_vendor/*.py
/.venv/Lib/site-packages/pkg_resources/_vendor/__pycache__/*.pyc
/.venv/Lib/site-packages/pkg_resources/_vendor/packaging/*.py
/.venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/*.pyc
/.venv/Lib/site-packages/pkg_resources/extern/*.py
/.venv/Lib/site-packages/pkg_resources/extern/__pycache__/*.pyc
/.venv/Lib/site-packages/pkg_resources/tests/data/my-test-package-source/__pycache__/*.pyc
/.venv/Lib/site-packages/pkg_resources/tests/data/my-test-package-source/*.py
/.venv/Lib/site-packages/python_engineio-4.9.1.dist-info/*.txt
/.venv/Lib/site-packages/python_socketio-5.11.4.dist-info/*.txt
/.venv/Lib/site-packages/setuptools-57.4.0.dist-info/*.txt
/.venv/Lib/site-packages/setuptools/*.py
/.venv/Lib/site-packages/setuptools/__pycache__/*.pyc
/.venv/Lib/site-packages/setuptools/_distutils/*.py
/.venv/Lib/site-packages/setuptools/_distutils/__pycache__/*.pyc
/.venv/Lib/site-packages/setuptools/_distutils/command/*.py
/.venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/*.pyc
/.venv/Lib/site-packages/setuptools/_vendor/*.py
/.venv/Lib/site-packages/setuptools/_vendor/__pycache__/*.pyc
/.venv/Lib/site-packages/setuptools/_vendor/more_itertools/*.py
/.venv/Lib/site-packages/setuptools/_vendor/more_itertools/__pycache__/*.pyc
/.venv/Lib/site-packages/setuptools/_vendor/packaging/*.py
/.venv/Lib/site-packages/setuptools/_vendor/packaging/__pycache__/*.pyc
/.venv/Lib/site-packages/setuptools/*.exe
/.venv/Lib/site-packages/setuptools/command/*.py
/.venv/Lib/site-packages/setuptools/command/__pycache__/*.pyc
/.venv/Lib/site-packages/setuptools/command/*.xml
/.venv/Lib/site-packages/setuptools/extern/*.py
/.venv/Lib/site-packages/setuptools/extern/__pycache__/*.pyc
/.venv/Lib/site-packages/setuptools/*.tmpl
/.venv/Lib/site-packages/simple_websocket-1.0.0.dist-info/*.txt
/.venv/Lib/site-packages/simple_websocket/*.py
/.venv/Lib/site-packages/simple_websocket/__pycache__/*.pyc
/.venv/Lib/site-packages/socketio/*.py
/.venv/Lib/site-packages/socketio/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/*.py
/.venv/Lib/site-packages/sqlalchemy/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/connectors/*.py
/.venv/Lib/site-packages/sqlalchemy/connectors/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/cyextension/*.py
/.venv/Lib/site-packages/sqlalchemy/cyextension/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/cyextension/*.pyd
/.venv/Lib/site-packages/sqlalchemy/cyextension/*.pyx
/.venv/Lib/site-packages/sqlalchemy/cyextension/*.pxd
/.venv/Lib/site-packages/sqlalchemy/dialects/*.py
/.venv/Lib/site-packages/sqlalchemy/dialects/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/dialects/mssql/*.py
/.venv/Lib/site-packages/sqlalchemy/dialects/mssql/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/dialects/mysql/*.py
/.venv/Lib/site-packages/sqlalchemy/dialects/mysql/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/dialects/oracle/*.py
/.venv/Lib/site-packages/sqlalchemy/dialects/oracle/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/dialects/postgresql/*.py
/.venv/Lib/site-packages/sqlalchemy/dialects/postgresql/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/dialects/sqlite/*.py
/.venv/Lib/site-packages/sqlalchemy/dialects/sqlite/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/dialects/*.txt
/.venv/Lib/site-packages/sqlalchemy/engine/*.py
/.venv/Lib/site-packages/sqlalchemy/engine/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/event/*.py
/.venv/Lib/site-packages/sqlalchemy/event/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/ext/*.py
/.venv/Lib/site-packages/sqlalchemy/ext/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/ext/asyncio/*.py
/.venv/Lib/site-packages/sqlalchemy/ext/asyncio/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/ext/declarative/*.py
/.venv/Lib/site-packages/sqlalchemy/ext/declarative/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/ext/mypy/*.py
/.venv/Lib/site-packages/sqlalchemy/ext/mypy/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/future/*.py
/.venv/Lib/site-packages/sqlalchemy/future/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/orm/*.py
/.venv/Lib/site-packages/sqlalchemy/orm/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/pool/*.py
/.venv/Lib/site-packages/sqlalchemy/pool/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/*.typed
/.venv/Lib/site-packages/sqlalchemy/sql/*.py
/.venv/Lib/site-packages/sqlalchemy/sql/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/testing/*.py
/.venv/Lib/site-packages/sqlalchemy/testing/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/testing/fixtures/*.py
/.venv/Lib/site-packages/sqlalchemy/testing/fixtures/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/testing/plugin/*.py
/.venv/Lib/site-packages/sqlalchemy/testing/plugin/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/testing/suite/*.py
/.venv/Lib/site-packages/sqlalchemy/testing/suite/__pycache__/*.pyc
/.venv/Lib/site-packages/sqlalchemy/util/*.py
/.venv/Lib/site-packages/sqlalchemy/util/__pycache__/*.pyc
/.venv/Lib/site-packages/*.py
/.venv/Lib/site-packages/werkzeug-3.0.4.dist-info/*.txt
/.venv/Lib/site-packages/werkzeug/*.py
/.venv/Lib/site-packages/werkzeug/__pycache__/*.pyc
/.venv/Lib/site-packages/werkzeug/datastructures/*.py
/.venv/Lib/site-packages/werkzeug/datastructures/__pycache__/*.pyc
/.venv/Lib/site-packages/werkzeug/datastructures/*.pyi
/.venv/Lib/site-packages/werkzeug/debug/*.py
/.venv/Lib/site-packages/werkzeug/debug/__pycache__/*.pyc
/.venv/Lib/site-packages/werkzeug/debug/shared/*.md
/.venv/Lib/site-packages/werkzeug/debug/shared/*.png
/.venv/Lib/site-packages/werkzeug/debug/shared/*.js
/.venv/Lib/site-packages/werkzeug/debug/shared/*.css
/.venv/Lib/site-packages/werkzeug/middleware/*.py
/.venv/Lib/site-packages/werkzeug/middleware/__pycache__/*.pyc
/.venv/Lib/site-packages/werkzeug/*.typed
/.venv/Lib/site-packages/werkzeug/routing/*.py
/.venv/Lib/site-packages/werkzeug/routing/__pycache__/*.pyc
/.venv/Lib/site-packages/werkzeug/sansio/*.py
/.venv/Lib/site-packages/werkzeug/sansio/__pycache__/*.pyc
/.venv/Lib/site-packages/werkzeug/wrappers/*.py
/.venv/Lib/site-packages/werkzeug/wrappers/__pycache__/*.pyc
/.venv/Lib/site-packages/wsproto-1.2.0.dist-info/*.txt
/.venv/Lib/site-packages/wsproto/*.py
/.venv/Lib/site-packages/wsproto/__pycache__/*.pyc
/.venv/Lib/site-packages/wsproto/*.typed
/.venv/Scripts/*.ps1
/.venv/Scripts/*.bat
/.venv/Scripts/*.exe
/.venv/*.cfg
