{% extends "base.html" %}
{% block title %}Question list{% endblock %}

{% block content %}
<div class="user_section">
    {% if loginuser %}
        <p>Welcome, {{ loginuser.username }}!|<a id="logout" href="{{ url_for('main.logout') }}">Logout</a></p>
    {% else %}
        <a href="{{ url_for('main.index') }}">Login</a>
    {% endif %}
</div>
    <a href="{{ url_for('main.quizlist') }}">Back to quizzes list</a>
    {% set letters = ['A', 'B', 'C', 'D','E','F'] %}
    <form id="quiz-form" action="{{ url_for('main.submit_answer') }}" method="POST">
        <input id="quizID" type="hidden" value="{{ user_score['quiz_id'] }}"/>
        <ul>
            {% for question in questions %}
                <ul class="question-group" data-question="{{question['question_id']}}">
                    Question {{ loop.index }}: {{ question['question_text'] }}
                    {% set choiceID = loop.index %}
                        {% for optquestion in question['options'] %}
                            <li>
                                <label>
                                    <input type="radio" name="choice{{choiceID}}" value="{{ optquestion['optanswer']}}">
                                    {{ letters[loop.index0] }}.{{ optquestion['optanswer']}}
                                </label>
                                
                            </li>
                        {% endfor %}
                    <div class="error-message error"></div>
                </ul> 
            
            {% else %}
                <li>No questions available</li>
            {% endfor %}
        </ul>
        {% if questions|length > 0 %}
        <button id="submit-answer">Submit</button>
        {% endif %}
    </form>

    <div id="score-section">
        <h2>Your Score: <span id="user-score"></span></h2>
    </div>

    <div id="leaderboard-section">
        <h2>Leaderboard</h2>
        <ul id="leaderboard"></ul>
    </div>

{% endblock %}
